/* Jessica Kincaid 

jessicakincaid.com
public_html revision

July 22, 2019


/* color palette
lightest gray = color: rgb(165, 177, 149);
background light greenish gray = color: rgb(165, 177, 149);
slate greenish gray =  color: rgb(119, 128, 108);
hover Pale highlight citrus yellow = color: rgb(186, 245, 109);
Bright lime = color: rgb(142, 243, 11);
Dark green = background-color: rgb(13, 26, 0);  
background Darkest green =  background-color: rgb(13, 26, 0);
*/


/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
    font-weight: lighter;
    width: 100%;
}

body {
    background-color: rgb(165, 177, 149);
    font-size: 0.5rem;
    line-height: 1.4;
    width: 98%;
}

h2.headline {
    font-size: 4.5vw;
    padding: 0.25vw 0 0 6vw;
    background-color: rgb(13, 26, 0);
}

ul {
    list-style: none;
}

p {
    font-size: .95em;
    margin-bottom: 1.8em;
}

div.hero h2 {
    font-size: 1.75em;
    padding: 0 2vw;
}

h2,
h3,
a {
    margin: 0;
    color: #fff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container h2,
div.primary-col h2,
div.secondary-col h2 {
    font-size: 1.25em;
    font-style: italic;
    padding: 1em 1em 0.25em 1em;
    background-color: rgb(13, 26, 0);
    color: rgb(215, 223, 204);
}


/* ================================= 
  Base Layout Styles
==================================== */


/*---------NAVIGATION----------*/

.top-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.name a,
.top-nav a {
    font-size: .25rem;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(13, 26, 0);
}

ul.top-nav {
    background-color: rgb(13, 26, 0);
    padding: 0;
}

ul.top-nav li {
    font-size: 1.25rem;
    max-width: 8vw;
    display: block;
    margin: 2vw 3vw;
}

ul.top-nav li a:hover,
.dropbtn {
    color: #7EB834;
}

ul.top-nav li a:active,
.dropbtn {
    color: rgb(142, 243, 11);
    background-color: rgb(50, 80, 14);
}


/* ---- Dropdown Theme submenu  ---- */

div.dropdown {
    flex: 1;
}

.dropbtn {
    font-size: 1.25rem;
    text-transform: uppercase;
    background-color: rgb(13, 26, 0);
    border-color: rgb(13, 26, 0);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(13, 26, 0);
    z-index: 1;
    max-width: 10em;
    text-align: center;
}

.dropdown-content a {
    color: rgb(142, 243, 11);
    padding: .75em 2.5em;
    max-width: 8vw;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    padding: .5em 3.5em;
    color: rgb(215, 223, 204);
    background-color: rgb(13, 26, 0);
    text-align: center;
}

.dropdown-content a:visited {
    color: rgb(142, 243, 11);
}

.dropdown:hover .dropdown-content {
    text-align: center;
    display: block;
}


/* ---- Layout Containers ---- */

header.main-header {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 95%;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: rgb(13, 26, 0);
}

section.accomplish {
    width: 98%;
}

h3.accomplish {
    color: rgb(186, 245, 109);
}

dt.year {
    color: rgb(119, 128, 108);
}

div.hero {
    background-color: rgb(13, 26, 0);
}


/* ---- Page Elements ---- */

.hero-img {
    max-width: 100%;
}

.headline {
    color: rgb(119, 128, 108);
    background-color: rgb(13, 26, 0);
    margin-bottom: 0;
}

h1.name {
    font-size: 4.5vw;
    margin: 0;
    padding: 5vw 3vw 0 5vw;
    color: rgb(215, 223, 204);
    text-transform: uppercase;
}

h1 a:visited,
h1.name:visited {
    color: rgb(138, 151, 120);
}

h1 a:hover {
    color: rgb(142, 243, 11);
}

h3 {
    font-size: 2vw;
    margin: auto;
}

li {
    color: rgb(186, 245, 109);
}

div.container,
div.hero {
    width: 95%;
    padding: 5vw;
    margin: auto;
    background-color: rgb(13, 26, 0);
    color: rgb(215, 223, 204);
}

ul.detail-list li {
    color: rgb(215, 223, 204);
    margin: 0;
}

p.details {
    display: inline;
    font-size: 0.85rem;
}

ul.detail-list {
    padding-bottom: 1.5em;
    margin: 0;
}

div.detail-list,
p.description {
    background-color: rgb(13, 26, 0);
    color: rgb(215, 223, 204);
}

p.description {
    margin-top: 0.75vw;
    height: 2em;
    font-style: italic;
    margin-bottom: 0;
}

p.concept {
    font-size: 1.1rem;
    padding: 1em;
    color: rgb(215, 223, 204);
    background-color: rgb(13, 26, 0);
}

dd.exhibit {
    width: 88%;
    padding-bottom: 1vh;
}

div#contactForm {
    background-color: rgb(13, 26, 0);
}

img.contact-img {
    max-width: 90%;
}

form {
    width: 60%;
    margin: auto;
    color: rgb(215, 223, 204);
    background-color: rgb(13, 26, 0);
    padding-bottom: 6vh;
}

form input {
    border-radius: 6px;
}

h2.contact {
    font-style: normal;
}


/*-------------------------------------------------FOOTER--------------------------------------*/

footer {
    background-color: rgb(215, 223, 204);
    text-align: center;
    padding: .25em 0;
}

footer img {
    max-width: 25px;
}

footer ul li {
    padding: .25vw;
}

footer ul {
    display: flex;
}


/* ================================= 
  Media Queries
==================================== */


/* Extremely tiny devices (360px and down) */

@media only screen and (max-width: 360px) {
    body {
        font-size: 1rem;
        line-height: 1;
    }
    h1.name a {
        font-size: 1.75rem;
    }
    p {
        font-size: .5rem;
        margin-bottom: 1.8em;
    }
    div.container h2,
    div.primary-col h2,
    div.secondary-col h2,
    div#contactForm h2 {
        font-size: 0.85rem;
    }
    ul.detail-list li {
        font-size: 0.25rem;
    }
    p.details {
        font-size: .75rem;
    }
    p.description {
        font-size: .75rem;
    }
    ul.top-nav li {
        margin-right: 5rem;
        font-size: 1rem;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    body {
        font-size: 1.25rem;
    }
    h1.name a {
        font-size: 2rem;
    }
    h2.headline {
        font-size: 1.35rem;
    }
    ul.top-nav {
        margin-right: 3rem;
    }
    ul.top-nav li a {
        font-size: 1.5rem;
        margin: 2px;
    }
    ul.top-nav li a,
    div.dropdown-content li a,
    button.dropbtn {
        margin: 2px;
        font-size: 1.15rem;
        border-style: none;
    }
    div.container h2,
    div.primary-col h2,
    div.secondary-col h2 {
        font-size: .75rem;
    }
    div.dropdown-content a {
        padding: 0.5rem;
    }
    p {
        font-size: 1.65rem;
        margin-bottom: 1.8em;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    body {
        font-size: 1rem;
    }
    h2.headline {
        font-size: 1.75rem;
    }
    p {
        font-size: 0.75rem;
        margin-bottom: 1.8em;
    }
    div.container h2,
    div.primary-col h2,
    div.secondary-col h2 {
        font-size: 1rem;
    }
    ul.top-nav {
        margin-right: 3rem;
    }
    ul.top-nav li a,
    div.dropdown-content li a,
    .dropbtn {
        font-size: 1.25rem;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    header h1.name a {
        font-size: 2.75rem;
    }
    h2.headline {
        font-size: 2.25rem;
    }
    p {
        font-size: 1rem;
        margin-bottom: 1.8em;
    }
    div.container h2,
    div.primary-col h2,
    div.secondary-col h2 {
        font-size: 1.15rem;
    }
    ul.top-nav li {
        font-size: 1rem;
    }
    div.detail-list ul li p.details {
        margin-bottom: 0.5rem;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    body {
        font-size: 1rem;
    }
    h2.headline {
        font-size: 2.5rem;
    }
    div.primary-col h2 {
        font-size: 1.75rem;
    }
    ul.top-nav li a {
        font-size: 1.25rem;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    body {
        font-size: 3.5rem;
        line-height: 1;
    }
    h2.headline {
        font-size: 2.5rem;
    }
    ul.top-nav li a,
    button.dropbtn {
        border-style: none;
        font-size: 2.25rem;
    }
    div.dropdown-content {
        width: 8rem;
    }
    div.dropdown-content a {
        padding: 1.75rem;
        /* margin-right: .5rem; */
        /* padding-right: .5rem; */
    }
    p.description {
        font-size: 2rem;
    }
    p.details {
        font-size: 1.5rem;
        padding-top: 0.1rem;
        margin-top: 0.1rem;
        line-height: 1;
    }
}