/* Jessica Kincaid 

public_html revision

July 20, 2019


/* color palette
lightest gray = color: rgb(165, 177, 149);
background light greenish gray = color: rgb(165, 177, 149);
slate greenish gray =  color: rgb(119, 128, 108);
hover Pale highlight citrus yellow = color: rgb(186, 245, 109);
Bright lime = color: rgb(142, 243, 11);
Dark green = background-color: rgb(13, 26, 0);  
background Darkest green =  background-color: rgb(13, 26, 0);
*/


/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
    font-weight: lighter;
    width: 100%;
}

body {
    background-color: rgb(165, 177, 149);
    font-size: 1.8vw;
    line-height: 1.4;
    width: 98%;
}

h1.name {
    font-size: 4.5vw;
    margin: 0;
    padding-top: 5vw;
    color: rgb(165, 177, 149);
    text-transform: uppercase;
}

h2.headline {
    font-size: 4.5vw;
    padding: 0.25vw 0 0 6vw;
    background-color: rgb(13, 26, 0);
}

ul {
    list-style: none;
}

p {
    font-size: .95em;
    margin-bottom: 1.8em;
}

div.hero h2 {
    /* color: rgb(113, 160, 52); */
    font-size: 1.75em;
}

h2,
h3,
a {
    margin: 0;
    color: #fff;
}

h2,
h3 {
    margin-top: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

div.primary-col h2,
div.secondary-col h2 {
    font-size: 1.25em;
    font-style: italic;
    padding: 1em 1em 0.25em 1em;
    background-color: rgb(13, 26, 0);
    color: rgb(215, 223, 204);
}


/* ================================= 
  Base Layout Styles
==================================== */


/*------------------------LINKS--------------------------*/


/* color palette
lightest gray = color: rgb(165, 177, 149);
light greenish gray = color: rgb(165, 177, 149);
slate greenish gray =  color: rgb(119, 128, 108);
Pale highlight citrus yellow = color: rgb(186, 245, 109);
Bright lime = color: rgb(142, 243, 11);
Dark green = background-color: rgb(26, 51, 0);  
Darkest green =  background-color: rgb(13, 26, 0);
*/

.name a,
.top-nav a {
    font-size: .95em;
    /* color: rgb(142, 243, 11); */
    text-transform: uppercase;
    text-align: center;
    display: block;
    padding: 10px 15px;
    background-color: rgb(13, 26, 0);
}


/*---------NAVIGATION----------*/

ul.top-nav {
    background-color: rgb(13, 26, 0);
    margin: 0;
}

ul.top-nav li a:hover {
    color: #7EB834;
}

ul.top-nav li a:active {
    color: rgb(142, 243, 11);
    background-color: rgb(50, 80, 14);
}


/* ---- Dropdown Theme submenu  ---- */

div.dropdown {
    margin-top: 5px;
    padding: 5px;
}

.dropbtn {
    font-size: .95em;
    color: rgb(186, 245, 109);
    text-transform: uppercase;
    background-color: rgb(13, 26, 0);
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(13, 26, 0);
    min-width: 80px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(142, 243, 11);
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dropdown-content a:hover {
    color: rgb(215, 223, 204);
    background-color: rgb(50, 80, 14);
}

.dropdown-content a:visited {
    color: rgb(142, 243, 11);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ---- Layout Containers ---- */

header.main-header {
    margin: auto;
    width: 95%;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: rgb(13, 26, 0);
}

section.accomplish {
    width: 98%;
}

h3.accomplish {
    color: rgb(186, 245, 109);
}

dt.year {
    color: rgb(119, 128, 108);
}

div.hero {
    background-color: rgb(13, 26, 0);
}


/* ---- Page Elements ---- */

.hero-img {
    max-width: 100%;
}

.headline {
    color: rgb(119, 128, 108);
    background-color: rgb(13, 26, 0);
    margin-bottom: 0;
}

h1 a:visited {
    color: rgb(119, 128, 108);
}

h1 a:hover {
    color: rgb(142, 243, 11);
}

h2 {
    padding: 0.75em;
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
    margin: auto;
}

li {
    color: rgb(186, 245, 109);
}

div.container,
div.hero {
    width: 95%;
    padding: 5vw;
    margin: auto;
    background-color: rgb(13, 26, 0);
    color: rgb(215, 223, 204);
}

h1 {
    background-color: rgb(13, 26, 0);
    color: rgb(215, 223, 204);
    font-size: 4vw;
    padding: 0.15em;
    border-radius: 3px;
}


/*------Images, details, concepts, descriptions -----------------*/

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul.detail-list li {
    color: rgb(215, 223, 204);
    font-size: small;
    margin: 0;
}

p.details {
    display: inline;
}

ul.detail-list {
    padding-bottom: 1.5em;
    margin: 0;
}

div.detail-list,
p.description {
    background-color: rgb(13, 26, 0);
    color: rgb(215, 223, 204);
}

p.description {
    margin: 0;
    height: 2em;
}

p.concept {
    font-size: 1.75vw;
    padding: 1em;
    color: rgb(215, 223, 204);
}

dd.exhibit {
    width: 88%;
    padding-bottom: 1vh;
}

div#contactForm {
    background-color: rgb(13, 26, 0);
}

img.contact-img {
    max-width: 90%;
}

form {
    width: 60%;
    margin: auto;
    color: rgb(215, 223, 204);
    background-color: rgb(13, 26, 0);
    padding-bottom: 6vh;
}

form input {
    border-radius: 6px;
}

h2.contact {
    font-style: normal;
}


/*-------------------------------------------------FOOTER--------------------------------------*/

footer {
    background-color: rgb(215, 223, 204);
    text-align: center;
    /* width: 80%; */
    /* height: 10vh; */
    padding: .25em 0;
}

footer img {
    max-width: 25px;
}

footer ul li {
    padding: .25vw;
}

footer ul {
    display: flex;
}